<div class="grid_12 green box"><h1>About Us</h1>
<p>Boston Volunteers is one of Boston's most popular nonprofits. Founded the day after Christmas in 2008, the Boston Volunteer is growing rapidly. 

www.BostonVolunteer.org specializes in 
+ No commitment 
+ No hassle 
Boston Volunteer opportunities. 

How does Boston Volunteers differentiate itself:
+You choose whether you want to lead or just participate
+ You decide - is there a Boston Volunteer event you want to promote

With no hassle, no commitment volunteer opportunities in your community and almost every day of the week, Boston Volunteers celebrates easy and convenient volunteer opportunities for you. 
How do we make community important to us? 
+ After most events we enjoy popular local restaurants - You will meet interesting new people who share your values 
+ You will discover lots of popular local restaurants. After most events most of us will connect on Facebook and/or LinkedIn

The Boston Volunteers
Big enough to Deliver, small enough to care
Learn more: www.BostonVolunteer.org</p>
</div>